/* Header del modal */
.custom-modal-header {
	background: linear-gradient(135deg, #6a11cb, #2575fc);
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 15px;
}

.modal-icon {
	margin-right: 10px;
}

/* Stile per i campi di input */
.input-field {
	border-radius: 8px;
	border: 1px solid #ccc;
	padding: 10px;
	transition: border 0.3s ease;
}

.input-field:focus {
	border-color: #6a11cb;
	box-shadow: 0 0 5px rgba(106, 17, 203, 0.3);
}

/* Bottoni */
.custom-cancel-button {
	background-color: #f44336;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	color: white;
	font-weight: bold;
}

.custom-submit-button {
	background: linear-gradient(135deg, #6a11cb, #2575fc);
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	color: white;
	font-weight: bold;
}

.custom-submit-button:hover {
	background: linear-gradient(135deg, #5b0ecf, #1f60ff);
}

.custom-cancel-button:hover {
	background-color: #e53935;
}

/* Form */
.custom-form {
	padding: 20px;
}

/* Modal body */
.modal-body {
	padding: 20px;
}
