/* Stile generale del container */
.calendar-container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 30px 20px;
	height: 86vh;
}

.activity-color {
	background: #f37b85 !important;
}
.activity-color-text {
	color: #f37b85 !important;
}
.activity-color-border {
	border-color: #f37b85 !important;
}
.event-color {
	background: #67d1bf !important;
}
.session-color {
	background: #8d89f7 !important;
}
.download-color {
	background: #f3d37a !important;
}
.list-color {
	background: #f3a285 !important;
}
.resource-color {
	background: #7da9f7 !important;
}

.projectActivity-color {
	background: #ffcc42e8 !important;
}

.rbc-events-container {
	margin: 0 !important;
}

.rbc-event-content {
	/* Breaking text if too long */
	white-space: normal !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	font-size: smaller !important;
}

.rbc-current-time-indicator {
	background: #ff00158c !important;
}
