body {
	background: white;
}

.hover-grow {
	transition:
		transform 0.3s ease-in-out,
		box-shadow 0.3s ease-in-out;
}
.hover-grow:hover {
	transform: scale(1.2);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05) !important;
}

.hover-lift {
	transition: all 0.2s ease;
}

.hover-lift-2 {
	transition: all 0.2s ease;
}

.hover-lift:hover {
	transform: translateY(-1px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05) !important;
}

.hover-lift-2:hover {
	transform: translateY(-4px);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.feature-icon-container {
	transition: transform 0.2s ease-in-out;
}

.hover-lift:hover .feature-icon-container {
	transform: scale(1.1);
}

.dvh-100 {
	height: 100dvh;
}

/* Colori calendario */
.bg-calendar-activity {
	background: #f37b85 !important;
}

.bg-calendar-event {
	background: #67d1bf !important;
}

.bg-calendar-session {
	background: #8d89f7 !important;
}

.bg-calendar-projectActivity {
	background: #ffcc42e8 !important;
}

.small-border {
	border: 1px solid rgba(0, 0, 0, 0.05);
}
