:root {
	--coffee-color-light: #633939;
	--coffee-color-dark: #4b2d2d;
	--cup-color-light: hsl(0, 21%, 42%);
	--cup-color-dark: hsl(0, 21%, 28%);
	--cup-color-border: #cacaca;
	--cup-color-border-dark: #b9b9b9;
	--steam-color: rgba(211, 211, 211, 0.7);
}

.top-cup-up {
	width: calc(var(--containerSize) * 0.31);
	aspect-ratio: 16/9;
	top: 40%;
	left: 50%;
	background-color: var(--cup-color-border);
	border-radius: 50%;
	z-index: 2;
}

.top-cup-down {
	width: calc(var(--containerSize) * 0.31);
	aspect-ratio: 16/9;
	top: 40%;
	left: 50%;
	border: calc(var(--containerSize) * 0.015) solid var(--cup-color-border);
	border-radius: 50%;
	z-index: 3;
}

.main-cup {
	width: calc(var(--containerSize) * 0.299);
	height: calc(var(--containerSize) * 0.71);
	left: 50%;
	top: 40%;
	background: var(--cup-color-light);
	clip-path: polygon(0 53%, 100% 53%, 89.8% 99%, 10.2% 99%);
	z-index: 2;
}

.bottom-cup {
	width: calc(var(--containerSize) * 0.241);
	height: calc(var(--containerSize) * 0.1);
	background-color: var(--cup-color-light);
	border-radius: 50%;
	left: 50%;
	top: calc(40% + (var(--containerSize) * 0.34));
	box-sizing: content-box;
	border-bottom: calc(var(--containerSize) * 0.015) solid
		var(--cup-color-border-dark);
	z-index: 3;
}

.coffee-circle {
	width: calc(var(--containerSize) * 0.28);
	height: calc(var(--containerSize) * 0.12);
	background: radial-gradient(
		circle,
		var(--coffee-color-light) 30%,
		var(--coffee-color-dark)
	);
	border-radius: 50%;
	z-index: 2;
	top: calc(40% + (var(--containerSize) * 0.015));
	left: 50%;
}

.steam {
	width: calc(var(--containerSize) * 0.03);
	height: calc(var(--containerSize) * 0.06);
	background: linear-gradient(to bottom, var(--steam-color), transparent);
	border-radius: 50%;
	opacity: 0.7;
	animation: rise 5s var(--animationType);
}

.steam-1 {
	left: calc(50% - (var(--containerSize) * 0.1));
	top: 30%;
	animation-delay: 0s;
}

.steam-2 {
	left: calc(50% - (var(--containerSize) * 0.05));
	top: calc(30% + (var(--containerSize) * 0.02));
	animation-delay: 1s;
}

.steam-3 {
	left: calc(50% + (var(--containerSize) * 0.05));
	top: calc(30% + (var(--containerSize) * 0.04));
	animation-delay: 3s ease-out;
}

@keyframes rise {
	0% {
		transform: translateY(0) scale(0.5);
		opacity: 0.2;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		transform: translateY(-200px) scale(2);
		opacity: 0;
	}
}
