:root {
	--coffee-color-light: #633939;
	--coffee-color-dark: #4b2d2d;
	--cup-color-light: hsl(0, 21%, 42%);
	--cup-color-dark: hsl(0, 21%, 28%);
	--cup-color-border: #cacaca;
	--cup-color-border-dark: #b9b9b9;
	--steam-color: rgba(211, 211, 211, 0.7);
}

.top-cup-up {
	width: 31vmin;
	aspect-ratio: 16/9;
	top: 50%;
	left: 50%;
	background-color: var(--cup-color-border);
	border-radius: 50%;
	z-index: 2;
}

.top-cup-down {
	width: 31vmin;
	aspect-ratio: 16/9;
	top: 50%;
	left: 50%;
	border: 1.5vmin solid var(--cup-color-border);
	border-radius: 50%;
	z-index: 3;
}

.main-cup {
	width: 30vmin;
	height: 70vmin;
	left: 50%;
	top: 50%;
	background: var(--cup-color-light);
	clip-path: polygon(0 53%, 100% 53%, 89.8% 99%, 10.2% 99%);
	z-index: 2;
}

.bottom-cup {
	width: 24.1vmin;
	height: 10vmin;
	background-color: var(--cup-color-light);
	border-radius: 50%;
	left: 50%;
	top: calc(50% + 33.9vmin);
	box-sizing: content-box;
	border-bottom: var(--cup-color-border-dark) 1.5vmin solid;
	z-index: 1;
}

.coffee-circle {
	width: 28vmin;
	height: 12vmin;
	background: radial-gradient(
		circle,
		var(--coffee-color-light) 30%,
		var(--coffee-color-dark)
	);
	border-radius: 50%;
	z-index: 2;
	top: calc(50% + 1.5vmin);
	left: 50%;
}

.steam {
	width: 3vmin;
	height: 6vmin;
	background: linear-gradient(to bottom, var(--steam-color), transparent);
	border-radius: 50%;
	opacity: 0.7;
	animation: rise 5s var(--animationType);
}

.steam-1 {
	left: calc(50% - 10vmin);
	top: 50%;
	animation-delay: 0s;
}

.steam-2 {
	left: calc(50% - 5vmin);
	top: calc(50% + 2vmin);
	animation-delay: 1s;
}

.steam-3 {
	left: calc(50% + 5vmin);
	top: calc(50% + 4vmin);
	animation-delay: 3s ease-out;
}

@keyframes rise {
	0% {
		transform: translateY(0) scale(0.5);
		opacity: 0.2;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		transform: translateY(-200px) scale(2);
		opacity: 0;
	}
}
