.tree-container {
	width: 100%;
	height: 100%;
}

.bottom-circle {
	width: calc(var(--containerSize) * 0.5);
	height: calc(var(--containerSize) * 0.2);
	background-color: #8b4513;
	border-radius: 0% 0% 60% 60%;
	clip-path: inset(50% 0 0 0);
	top: calc(50% + var(--vertical-offset, 0%));
}

.oval-circle {
	width: calc(var(--containerSize) * 0.5);
	height: calc(var(--containerSize) * 0.05);
	background-color: #ad581a;
	border-radius: 50%;
	z-index: 1;
	top: calc(50% + var(--vertical-offset, 0%));
}

.log {
	width: calc(var(--containerSize) * 0.1);
	height: calc(var(--containerSize) * 0.2);
	top: calc(
		50% - calc(var(--containerSize) * 0.075) + var(--vertical-offset, 0%)
	);
	left: 50%;
	clip-path: polygon(30% 0%, 80% 0%, 80% 90%, 50% 95%, 30% 90%);
	background: linear-gradient(to right, #834112 50%, #bd5f1d 50%);
	z-index: 2;
}

.leaves-1 {
	--final-width: calc(var(--containerSize) * 0.2);
	top: calc(
		50% - calc(var(--containerSize) * 0.3) + var(--vertical-offset, 0%)
	);
	z-index: 5;
	animation: grow calc(var(--time) / 3) forwards;
	animation-delay: calc(var(--time) / 1.5);
}

.leaves-2 {
	--final-width: calc(var(--containerSize) * 0.3);
	top: calc(
		50% - calc(var(--containerSize) * 0.25) + var(--vertical-offset, 0%)
	);
	z-index: 4;
	animation: grow calc(var(--time) / 3) forwards;
	animation-delay: calc(var(--time) / 3);
}

.leaves-3 {
	--final-width: calc(var(--containerSize) * 0.4);
	top: calc(
		50% - calc(var(--containerSize) * 0.2) + var(--vertical-offset, 0%)
	);
	z-index: 3;
	animation: grow calc(var(--time) / 3) forwards;
	animation-delay: 0s;
}

.leaves-1,
.leaves-2,
.leaves-3 {
	left: 50%;
	aspect-ratio: 18/9;
	clip-path: polygon(50% 0%, 10% 85%, 40% 100%, 100% 90%);
	background:
		linear-gradient(180deg, #125c32bd 30%, #2be780a9 100%),
		linear-gradient(100deg, #2e8b57 46%, #3cb371 30%);
}

@keyframes grow {
	0% {
		width: calc(var(--final-width) / 1.5);
	}
	100% {
		width: var(--final-width);
	}
}

.hidden {
	opacity: 0;
	pointer-events: none;
}
