::-webkit-scrollbar {
	display: none;
}

html {
	scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
	display: none;
}

.hide-scroll ::-moz-scrollbar {
	display: none;
}

.hide-scroll {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
}
